pip install requests
pip install httpx
import re
import os
import sys
import json
import shutil
import requests
import time
from datetime import datetime, timedelta
requests.urllib3.disable_warnings()
from urllib.parse import urlencode, urlparse
import hashlib
from requests import sessions
